[contenteditable] {
  -webkit-user-select: text;
}

body {
	margin: 0;
	background-color: rgb(230, 230, 230);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

ul {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

li {
	list-style-type: none;
}

h1 {

}

.modal {
	display: none;
	z-index: 1050;
	background-color: white;
	position: fixed;
	left: 50%;
	top: 50%;
	border-style: solid;
	border-width: 1px;
	border-color: #444444
}

.fade {
	opacity: 0;
	-webkit-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
}

.fade.in {
	opacity: 1;
}

#header {
	background-color: #4671D5;
	color: white;
	vertical-align: middle;
	height: 30px;
	-webkit-app-region: drag;
	box-shadow: 0px 0px 5px black;
	z-index: 20;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

#header * {
	display: inline;
}


#header h1 {
	font-size: 25px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	height: 30px;
	line-height: 30px;
	margin: 0 3px 0 3px;
	padding: 0;
}

#header .buttonbox {
	position: absolute;
	right: 29px; /* 6+17+6 from #close_window_button */
	height: 30px; /* from #header */
}

#header .buttonbox button {
	width: 4em;
	height: 100%;
	border: 0;
	background-color: #6C8CD5;
	color: white;
	padding: 0;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}

#close_window_button {
	position:absolute;
	top: 6px;
	right: 6px;
	border: none;
	width: 17px;
	height: 17px;
	background:url(close.png) no-repeat;
}

#close_window_button:hover {
	background:url(close_hover.png) no-repeat;
}

#content {
	float: left;
	position: fixed;
	top: 30px;
	bottom: 0;
	left: 200px;
	right: 0;
}

#main_content {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

@-webkit-keyframes shake {
	0% { -webkit-transform: translate(0px, 0px); }
	20% { -webkit-transform: translate(5px, 0px); }
	40% { -webkit-transform: translate(-5px, 0px); }
	60% { -webkit-transform: translate(5px, 0px); }
	80% { -webkit-transform: translate(-5px, 0px); }
	100% { -webkit-transform: translate(0px, 0px); }
}

.shake {
	display:inline-block;
	-webkit-animation-name: shake;
	-webkit-animation-duration: 0.5s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: once;
	-webkit-animation-timing-function: linear;
}

.dbModalDialog {
	background-color: white;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 11;
	clear: none;
	box-shadow 0px 0px 1px black;
}

.dbModalDialogInner {
	width: 600px;
	height: 256px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
}

.dbModalDialogInner img {
	float: left;
	clear: none;
}

.dbModalDialog h2 {
	display: block;
	font-size: 22px;
	float:left;
	margin-top: 60px;
	margin-left: 30px;
}

#database_password_creation_widget_inner h2 {
	margin-top: 10px !important;
}

.dbModalDialog h3 {
	line-height: 1em;
	margin-top: 0px;
	margin-bottom: 10px;
	display: block;
	font-size: 15px;
}

.dbModalDialog form {
	margin-left: 30px;
	width: 240px;
	background-color: #F2F8F6;
	border: 1px solid #777777;
	float: left;
	padding: 15px 20px 15px 20px;
	border-radius: 5px;
	box-shadow: inset 0px 1px 3px #777777;
}


.dbModalDialog input[type=password] {
	display: inline;
	width: 95%;
}

.dbModalDialog input[type=submit] {
	float: right;
}

.shown {
	top: 30px;
	bottom: 0px;
	right: 0;
	left: 0;

	-webkit-transition: all 0.3s ease;
}

.hiddenBelow {
	top: 100%;
	bottom: 0px;
	right: 0;
	left: 0;

	-webkit-transition: all 0.3s ease;
}

.hiddenAbove {
	top: 30px;
	bottom: -100%;
	right: 0;
	left: 0;

	-webkit-transition: all 0.3s ease;
}

#jsoneditor {
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index: 5;
	width: 100%;
	height: 100%;
	clear:none;
}

#left_sidebar {
	float: left;
	width: 200px;
	text-align: left;
	position: absolute;
	top: 30px;
	bottom: 0;
}

#database_selection_widget {
	/*background-color: blue;*/
	background-color: white;
	width: 100%;
	position: absolute;
	z-index: 10;
	clear: none;
	top: 0px;
	bottom: 0px;
}

#entries_list {
	z-index: 1;

	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-left: none;
	border-right: none;
	background-color: white;

	overflow: scroll;
	width: 100%;

	position: absolute;
	top: 23px;
	bottom: 23px;
}

.odd {
	background-color: #EEEEEE;
}
.even {
	background-color: #FFFFFF;
}

.entry {
	padding-left: 5px;
	padding-right: 5px;
}

#left_sidebar *:focus {
	outline: none;
}

.entry:focus {
	outline: none;
}

.selected {
	background-color: #4671D5 !important;
	color: white;
}

#entries_searchbox_container {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	width: 100%;
	height: 23px;
	background-color: white;
}

#entries_searchbox {
	margin: 1px;
	margin-left: 5px;
	padding: 0;
	border: none;
	outline: none;
	width: auto;
	height: 21px;
	background-color: white;
}

#clear_search_button {
	position:absolute;
	top: 3px;
	right: 3px;
	border: none;
	width: 17px;
	height: 17px;
	background:url(clear_search.png) no-repeat;
}

#clear_search_button:hover {
	background:url(clear_search_hover.png) no-repeat;
}

#add_entry_form_container {
	position: absolute;
	bottom: 0px;
	left: 0;
	padding: 0;
	width: 100%;
	height: 23px;
	background-color: white;
}

#add_entry_input {
	margin: 1px;
	margin-left: 5px;
	padding: 0;
	border: none;
	outline: none;
	width: auto;
	height: 21px;
	background-color: white;
	box-shadow: none;
}

#add_entry_input:focus {
	outline: none;
}


#footer {
	clear:both;
	background:#6C8CD5;
	height: 0px;
}
