<!DOCTYPE html>
<html ng-app="localPass" ng-csp>
  <head>
  	<link rel="stylesheet" type="text/css" href="lib/jsoneditor/jsoneditor.css">
  	<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
  	<link rel="stylesheet" type="text/css" href="lib/angularui/angular-ui.css">
  	<link rel="stylesheet" type="text/css" href="app.css">

    <script type="text/javascript" src="lib/jquery/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="lib/q/q.js"></script>
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="lib/angularjs/angular.js"></script>
    <script type="text/javascript" src="lib/angularui/angular-ui.js"></script>
    <script type="text/javascript" src="lib/jsoneditor/jsoneditor.js"></script>
    <script type="text/javascript" src="lib/sjcl/sjcl.min.js"></script>
    <script type="text/javascript" src="lib/sha1/sha1.js"></script>
    <script type="text/javascript" src="lib/pbkdf2/pbkdf2.js"></script>
    <script type="text/javascript" src="lib/xml2json/xml2json.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-controller="DatabaseControl" ng-init="init()">
  	<input type="text" id="hidden_copy_helper" class="display:none;"></input>

  	<div id="header" class="drag">
	  	<h1>LocalPass</h1>
	  	<span>{{status_message}}</span>
		<div class="buttonbox no-drag">
			<button tabindex="1"
			        ng-click="deleteEntryClicked()"
			        ng-hide="isLocked() || !decrypted.selected_entry_id">
			        Delete</button>
			<button tabindex="2" ng-click="import()" ng-hide="isLocked()">Import</button>
			<button tabindex="3" ng-click="lock()" ng-hide="isLocked()">Lock</button>
		 </div>
	  	<button id="close_window_button"
	  	        class="no-drag"
	  	        ng-click="closeWindow()"></button>
	</div>

	<div id="database_password_creation_widget"
		 class="dbModalDialog"
	     ng-show="create_password_screen_visible">
	    <div id='database_password_creation_widget_inner' class="dbModalDialogInner">
	    	<img src="preferences-desktop-cryptography.png">
			<h2>Set the database password</h2>
			<form name="createPasswordForm"
			      ng-controller="CreatePasswordControl"
			      novalidate>
				Password:         <input type="password" 
				        		         ng-model="password"
				           		         ng-disabled="!create_password_screen_visible"
				        		         required><br />
				Password (again): <input type="password"
				 						 ng-model="password_again"
				 						 ng-disabled="!create_password_screen_visible"
				 						 required>
				<span class="error"
				      ng-show="createPasswordForm.$error.different">Passwords don't match</span><br>

		 		<input type="submit"
		 		       ng-click="verifyPasswordCreation()"
		 		       name="Set Password"
		 		       ng-disabled="!create_password_screen_visible">
		 	</form>
		 </div>
	</div>

	<div id="database_locked_widget"
		 class="dbModalDialog"
	     ng-show="lock_screen_visible">
	    <div id='database_locked_widget_inner' class="dbModalDialogInner">
	    	<img src="preferences-desktop-cryptography.png">
			<h2>The database is locked</h2>
			<form id="database_locked_widget_form"
			      name="enterPasswordForm"
			      ng-controller="EnterPasswordControl"
			      novalidate>
				<h3>Master Password</h3>
				<input type="password"
				       ng-model="password"
	   			       ng-disabled="!lock_screen_visible"
				       required><br>

				<input type="submit"
				       ng-click="verifyPassword();"
				       name="Unlock"
				       value="Unlock"
				       ng-disabled="!lock_screen_visible">
			</form>
		</div>
	</div>

	<div id="loading_screen"
		 class="dbModalDialog shown"
	     ng-show="loading_screen_visible">
	     <div id="loading_inner" class="dbModalDialogInner">
	     	<h1>Loading...</h1>
	     </div>
	</div>

	<div id="content">
	  	<div id="main_content">
		    <div id="jsoneditor" ng-show="decrypted.selected_entry_id"></div>
	  	</div>
	</div>

  	<div id="left_sidebar">
	  	<div id="entries_searchbox_container">
	  		<input id="entries_searchbox"
	  			   tabindex="5"
	  		       class="searchbox"
	  		       ng-model="searchString"
	  		       ng-change="updateSearch()"
	  		       placeholder="search..."></input>
	  		<button id="clear_search_button" ng-click="searchString = ''; updateSearch();" ng-show="searchString.length > 0"></button>
	  	</div>

	 	<div id="entries_list"
	 		 tabindex="5"
	 		 ng-click="deselectActiveEntry(); $('#entries_list').focus();">
		  	<ul name="entries"
		  		ui-keydown="{ down: 'selectNextEntry(); $event.preventDefault();',
		  		              up: 'selectPreviousEntry(); $event.preventDefault();'}">
		  		<li ng-repeat="pair in decrypted.filtered_entries"
		  		    tabindex="6"
		  		    id="{{pair.uuid}}"
		  		    uuid="{{pair.uuid}}"
		  		    ng-class="{selected: pair.uuid==decrypted.selected_entry_id}"
		  		    ng-class-odd="'odd'"
		  		    ng-class-even="'even'"
		  		    ng-click="entryClicked($event); $('#entries_list').focus();"
		  		    no-propagate-click>
		  			<span class="entry">{{pair.object.contents.title}}</span>
		  		</li>
		  	</ul>
		</div>

		<div id="add_entry_form_container">
		  	<form ng-submit="addEntryClicked()">
		  		<input tabindex="7" id="add_entry_input" type="text" ng-model="newEntryTitle" placeholder="add new entry here">
		  		<input class="btn-primary" type="submit" value="add" style="display:none;">
		  	</form>
	  	</div>
  	</div>

  	<div id="footer">
  	</div>

  </body>
</html>